<% visitor=notification.visitor %>

<div class="user-view clearfix" style="margin-top: 30px;">
  <%= link_to user_path(notification.visitor) do %>
    <% if notification.visitor.image.attached? %>
      <%=  image_tag notification.visitor.image, size: "40x40" %>
    <% else %>
      <%= image_tag "no_image.png", size: "40x40" %>
    <% end %>
  <% end %>
  <%== notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>
</div>
