<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10", style="margin-top: 20px">
      <h1>ユーザ情報登録</h1>
      <%= form_with model: @user, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="field">
            <%= f.label :name,"名前" %>
            <%= f.text_field :name, autocomplete: "name", autofocus: true, :size=>"20" %>
        </div>

        <div class="field">
            <%= f.label :housewife_year, "主婦歴" %>
            <%= f.number_field :housewife_year, max: 100 %>
        </div>

        <div class="field">
            <%= f.label :image, "プロフィール画像" %>
            <%= f.file_field :image %>
        </div>

        <div class="field">
            <%= f.label :introduction, "自己紹介" %><br>
            <%= f.text_area :introduction, size: "50x5" %>
        </div>

        <p style="margin-top: 20px">当てはまる項目にチェックをつけてください</p>

        <p style="margin-top: 10px">今悩んでいること</p>
          <div class="field">
            <!-- 下の行で現在編集している一人のユーザのために、複数のcurrent_troubleテーブルを作成できるようになる -->
            <!-- collection_check_boxexを使うときはfields_forは不要　 -->
            <%#= f.fields_for :current_troubles do |ct| %>
              <!-- c.collection_check_categoryboxesで選択してcreateできるようになる -->
              <!-- userモデルでhas_many :current_trouble_categories, :through => :current_troubles, source: :trouble_category と記載しているのでcurrent_trouble_category_idにtrouble_categoryを入れることができる -->
              <%= f.collection_check_boxes :current_trouble_category_ids, @trouble_categories, :id, :name, include_hidden: false  do |b| %>
                <%=  b.label {b.check_box + b.text}  %>
              <% end %>
          </div>
        <p style="margin-top: 10px">過去悩んでいたこと</p>
        <div class="field">
            <%= f.collection_check_boxes :past_trouble_category_ids, @trouble_categories, :id, :name, include_hidden: false  do |b| %>
                <%=  b.label {b.check_box + b.text}  %>
            <% end %>
        </div>

        <%= f.submit '登録' %>
      <% end %>

      <%= link_to "アカウント削除", user_path(@user), data: { confirm: "退会しますか?" }, method: :delete %>
    </div>
  </div>
</div>

