<h1>ユーザ情報登録</h1>
<%= form_with model: @user, url: user_path, local: true do |f| %>
  <div class="field">
      <%= f.label :name,"名前" %>
      <%= f.text_field :name, autocomplete: "name", autofocus: true %>
  </div>

  <div class="field">
      <%= f.label :housewife_year, "主婦歴" %>
      <%= f.number_field :housewife_year %>
  </div>

  <div class="field">
      <%= f.label :image, "プロフィール画像" %>
      <%= f.file_field :image %>
  </div>

  <div class="field">
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction %>
  </div>

  <p>当てはまる項目にチェックをつけてください</p>

  <p>今悩んでいること</p>
    <div class="field">
      <!-- 下の行で現在編集している一人のユーザのために、複数のcurrent_troubleテーブルを作成できるようになる -->
      <%= f.fields_for :current_troubles do |c| %>
        <!-- c.collection_check_categoryboxesで選択してcreateできるようになる -->
        <%= c.collection_check_boxes :trouble_category_ids, @trouble_categories ,:id, :name, include_hidden: false do |b| %>
          <%=  b.label {b.check_box + b.text}  %>
        <% end %>
      <% end %>
    </div>

  <p>過去悩んでいたこと</p>
  <div class="field">
    <%= f.fields_for :past_troubles do |c| %>
      <%= c.collection_check_boxes :trouble_category_ids, @trouble_categories ,:id, :name, include_hidden: false do |b| %>
          <%=  b.label {b.check_box + b.text}  %>
      <% end %>
    <% end %>
  </div>

  <%= f.submit '登録' %>

<% end %>

