<h1>ユーザ一覧</h1>

<%= render 'shared/user_search_form'  %>

<% @users.each do |user| %>
  <% if user.image.attached? %>
    <%= image_tag user.image, size: "100x100" %>
  <% end %>
  <%= user.name %>
  <%= user.housewife_year %>
  <%= truncate(user.introduction, length: 20) do %>
    <%= link_to '続きを読む', user_path(user) %>
  <% end %>
<% end %>

<h2>おすすめユーザ</h2>
  <%#= @recommended_order.each {|key, value|} %>
  <% @recommended_order.first(5).each do |key, value| %>
  <% user = User.find(key) %>
    <% if user.image.attached? %>
      <%= image_tag user.image, size: "100x100" %>
    <% end %>
    <%= user.name %></br>
  <% end %>
