<div class="container-fluid">
　<h1>ユーザ詳細画面</h1>
  <% if @user == current_user %>
    <%= link_to "ユーザ編集", edit_user_path %>
  <% else %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">DMを送る</a></p>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit 'DMを初めて送る' %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "200x200"  %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-1">
          <%= @user.name %>
        </div>
        <div class="col-md-5">
          主婦歴<%= @user.housewife_year %>年
        </div>
      </div>
      <div class="row",style="padding-top: 20px;">
        <%= @user.introduction %>
      </div>
    </div>
  </div>

  <p>今悩んでいること</p>
  <% @user.current_troubles.each do |c| %>
    <span style="margin-right: 10px"><%= c.trouble_category.name %></span>
  <% end %>

  <p>過去悩んでいたこと</p>
  <% @user.past_troubles.each do |p| %>
    <span style="margin-right: 10px"><%= p.trouble_category.name %></span>
  <% end %>
  </div>
</div>


