<div class="container-fluid">
  <div class="row", style="margin-top: 20px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-9">
      <h1>掲示板新規作成</h1>
      <%= form_with model: @board, local: true do |f| %>
        <div class="field">
          <label>カテゴリー</label>
          <%= f.collection_check_boxes :board_category_ids, @board_categories, :id, :name, include_hidden: false do |b| %>
            <%= b.label {b.check_box + b.text} %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, size: 40 %>
        </div>

        <div class="field">
          <%= f.label :content, "コメント" %><br>
          <%= f.text_area :content, size: "20x10", class: "form-control" %>
        </div>

        <div class="field" style="margin: 10px 0 10px 0">
          <%= f.label :image, "画像" %>
          <%= f.file_field :images, multiple: true %>
        </div>
        <%= f.submit "スレッド作成" %>
      <% end %>
    </div>
  </div>
</div>

