<span>カテゴリ</span>
<% @board.board_categories.each do |b| %>
  <%= b.name %>
<% end %>
<span>作成日</span>
<%= @board.created_at.strftime("%Y/%m/%d") %>
<span>最終更新日</span>
<%= @board.updated_at.strftime("%Y/%m/%d") %>
<h1><%= @board.title %></h1>
<%= @board.user.name %><br>
<% if @board.user.image.attached? %>
  <%= image_tag @board.user.image %>
<% end %>

<%= @board.content %>

<div id='board_comments'>
  <%= render @board_comments %>
</div>