<span>カテゴリ</span>
<% @board.board_categories.each do |b| %>
  <%= b.name %>
<% end %>
<span>作成日</span>
<%= @board.created_at.strftime("%Y/%m/%d") %>
<span>最終更新日</span>
<%= @board.updated_at.strftime("%Y/%m/%d") %>

<% if @board.user == current_user %>
  <%= link_to 'スレッド編集', edit_board_path %>
<% end %>

<h1><%= @board.title %></h1>
<%= @board.user.name %><br>
<% if @board.user.image.attached? %>
  <%= image_tag @board.user.image %>
<% end %>

<%= @board.content %>
<% if @board.images.attached? %>
  <% @board.images.each do |image| %>
    <%= image_tag image %> <br>
  <% end %>
<% end %>

<div id='chat'>
  <% @board_comments.each do |board_comment| %>
    <%= board_comment.content %>
    <% image = board_comment.user.image %>
    <% image_url = Rails.application.routes.url_helpers.polymorphic_url(image) %>
<!--     rubyの式を書く時はこのようにする -->
    <img src=<%= image_url %>>
    <p><%= board_comment.user.name %></p>
    <% end %>
</div>

<form>
  投稿： <input type="text" />
  <input type="submit" value="投稿" onClick="postBoardMessage()" />
</form>

