<div class="container-fluid" style="padding-bottom: 200px;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <p><%= link_to "DM一覧に戻る", rooms_path %></p>
      <div class="row">
        <% @entries.each do |e| %>
          <% unless e.user == current_user %>
            <% if e.user.image.attached? %>
              <div class="col-md-2">
                <%= link_to user_path(e.user),style: 'text-decoration: none; color: #565656;' do %>
                  <%= image_tag e.user.image , size: "100x100" %>
                <% end %>
              </div>
            <% else %>
              <div class="col-md-2">
                <%= link_to user_path(e.user),style: 'text-decoration: none; color: #565656;' do %>
                  <%= image_tag "no_image.png", size: "50x50" %>
                <% end %>
              </div>
            <% end %>
            <div class="col-md-5">
              <%= link_to user_path(e.user) ,style: 'text-decoration: none; color: #565656;' do %>
                <h1 class="name" style="text-decoration: none; color: #565656;"><%= e.user.name %></h1>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-11", style="padding: 0.2em 0.5em; margin: 2em 0; color: #565656; background: #ffeaea; box-shadow: 0px 0px 0px 10px #ffeaea; border: dashed 2px #ffc3c3; border-radius: 8px; height: 500px;">
        <div id='chat' style="overflow: scroll; height: 350px" >
          <div class="col-md-12">
            <% @room_comments.each do |room_comment| %>
              <% if room_comment.user == current_user %>
    　　　　　　　<!-- カレントユーザの表示方法 -->
                <div style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-3">
                      <div style="text-align: left;">
                        <%= room_comment.content %>
                        <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                          <p style="text-align:right; font-size: 10px;">by <%= room_comment.user.name %>  <%= room_comment.created_at.strftime("%m/%d %H:%M") %></p>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <% if room_comment.user.image.attached? %>
                        <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                          <%= image_tag url_for(room_comment.user.image), size: 50  %>
                          <% end %>
                      <% else %>
                        <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                          <%= image_tag "no_image.png", size: 40 %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <!-- カレントユーザ以外の表示方法 -->
                <div style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-1">
                      <% if room_comment.user.image.attached? %>
                        <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                          <%= image_tag url_for(room_comment.user.image), size: 50  %>
                        <% end %>
                      <% else %>
                        <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                          <%= image_tag "no_image.png", size: 40 %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-3">
                      <%= room_comment.content %>
                      <%= link_to user_path(room_comment.user) ,style: 'text-decoration: none; color: #565656;' do %>
                        <p style="text-align:right; font-size: 10px;">by <%= room_comment.user.name %>  <%= room_comment.created_at.strftime("%m/%d %H:%M") %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
              <form>
                <textarea cols="100" rows="3" placeholder="コメントを入力"></textarea>
                <input type="submit" value="投稿" onClick="postRoomMessage()" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>